header{
    background: red;
}

header nav{
    display: inline-block;
    
}

header h1{
    display:inline;
    margin-right: 75%;
}

.main{
    width: 1280px;
    margin:20px auto;
    background: lightpink;
    padding: 15px;
}

.scroll{
    background: grey;
    margin:10px 0px;
    
}

body{
    margin:0px;
}

footer{
    background: black;
    color:white;
    padding: 10px 30px;
}

p{
    text-align: justify;
    width:70%;
    font-size: 20px;
    margin:auto;
}

.interests{
    text-align: center;
}
    
.img-cont{
    display: inline-block;
    width:20%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.image{
    width:100%;
    height: auto;
    border-radius: 80px;
    display:flex;
    
}

article{
    margin: 25px 0px;
    background: white;
    border-radius: 30px;
    display:flex;
    padding: 15px;
    border: 1px black solid;
}

.shadow{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.336);
}

a{
    margin:auto;
    text-decoration: none;
}

.icon{
    font-size: 100px;
}

.margin{
    margin:auto;
}

