html{
    scroll-behavior: smooth;
}

header{
    background: rgb(0, 0, 0);
    position: fixed;
    width:110%;
    margin:0px;
    transition: 0.2s;
    color:white;
}

h2{
    color:white;
    font-size: 60px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    background:black;
    width:max-content;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0px 0px 5px white;
    margin-top: 0px;
    margin-bottom: 0px;
}

header nav{
    display: inline;
    margin:auto;
}

header h1{
    display:inline;
    margin-right: 30%;
    margin-left: 25px;
}

header nav a{
    margin:auto 40px;
    font-size: 50px;
    text-align: right;
    transition: 0.2s;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.685);
}

header nav a:hover{
    text-shadow: 0px 0px 5px white;
}

.here{
    transition:0.2s;
    font-weight: bold;
}

.here:hover{
    text-shadow: 0px 0px 5px black;
}

.main{
    width: 1280px;
    margin:20px auto;
    /*background: lightpink;*/
    padding: 15px;
}

.scroll{
    background: grey;
    margin:10px 0px;
    
}

body{
    margin:0px;
    background-image: url("images/background.jpg");
    }

footer{
    background: black;
    color:white;
    padding: 10px 30px;
}

p{
    text-align: justify;
    width:70%;
    font-size: 20px;
    margin:auto;
}

.interests{
    text-align: center;
}
    
.img-cont{
    display: inline-block;
    width:20%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.image{
    width:100%;
    height: auto;
    border-radius: 80px;
    display:flex;
    
}

article{
    margin: 20px 0px;
    background: rgb(212, 212, 212);
    border-radius: 30px;
    display:flex;
    padding: 15px;
    border: 1px black solid;
}

.space{
    width:100%;
    height: 75px;
}


.shadow{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.336);
}

a{
    margin:auto;
    text-decoration: none;
}

.icon{
    font-size: 100px;
}

.margin{
    margin:auto;
}

.hover:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.transition{
    transition:0.3s;
}

.illumination{
    box-shadow: 0px 0px 15px white;
}

.textIllumination{
    text-shadow: 0px 0px 15px white;
}

footer a{
    margin:auto 15px;
    font-size: 50px;
    transition: 0.2s;
}

footer p{
    text-align: right;
    display: inline;
    margin-bottom: 15px;
    margin-left: 65%;
    font-size: 30px;
}

footer a:hover{
    text-shadow: 0px 0px 15px white;
}

.smallInput{
    height: 30px;
    font-size: 24px;
}

.bigInput{
    height: 150px;
    text-indent: none;
    font-size: 18px;
}

.form{
    display: grid;
    margin:15px auto;
    width:40%;
}


.formInput{
    width:75%;
    transition:0.2s;
    margin: 5px 0px;
    padding: 0px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formButton{
    width:30%;
    height:50px;
    margin:15px 0px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s;
    border-radius: 20px;
    color:white;
    background-image: linear-gradient(to bottom ,rgb(122, 121, 121), black);
}


article div i{
    font-size: 180px;
}

.form h3{
    margin:0px;
}

/* Second page */

.resume{
    display: grid;
    align-items: center;
}

.resume h4{
    font-size: 24px;
    margin:auto;
    width: 100%;
    text-align: center;
}

.resume button{
    height: fit-content;
    width: 500px;
    text-align: center;
    margin: 25px auto;
    margin-bottom: 5px;
    transition:0.2s;
}

.resume button:hover{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}